body {
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

/*-------GRID ----------*/
.container {
  max-width: 1200px;
  margin: 0; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.col-1 {
  width: 8.333333333333333%; }

.col-2 {
  width: 16.6666666666666%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667; }

.col-12 {
  width: 100%; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 10px; }

@media (max-width: 900px) {
  .row {
    display: inherit; }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%; } }

/*-------GRID ----------*/
/*---------- BOTONES ---------------*/
.btn__secondary {
  width: 358px;
  height: 46px;
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 5vw;
  margin-top: 4vw;
  text-align: center;
  background-color: #454ade; }

.btn__primary {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  text-align: center; }

/*---------- BOTONES ---------------*/
/*---------- NAVBAR ---------------*/
.navbar {
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: transparent;
  z-index: 10000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0)); }

.navbar a {
  color: #ffffff; }

.navbar__title {
  width: 226px;
  height: 33px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 113px;
  color: #ffffff;
  position: absolute;
  top: 12px; }

.register__btn {
  color: #454ade !important;
  position: relative;
  right: 4px; }

.navbar__list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.padding__top {
  padding-top: 16px; }

.navbar__menu {
  width: 62px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff; }

/*---------- NAVBAR ---------------*/
/*---------- HOME VIEW ---------------*/
/*---------- PRINCIPAL ---------------*/
.principal {
  width: 99vw;
  height: 100vh; }

.overlay__principal {
  background-image: -webkit-linear-gradient(282deg, #1b1f3b -100%, rgba(133, 94, 210, 0.1));
  background-image: -o-linear-gradient(282deg, #1b1f3b -100%, rgba(133, 94, 210, 0.1));
  background-image: linear-gradient(168deg, #1b1f3b -100%, rgba(133, 94, 210, 0.1));
  width: 99vw;
  height: 100vh; }

.container__principal {
  padding-top: 10px;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title__principal {
  width: 513px;
  height: 135px;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 10px;
  color: #ffffff;
  margin-left: 100px;
  letter-spacing: 9px;
  text-shadow: 0 0 10px #ffffff;
  padding-bottom: 6px;
  padding-top: 170px; }

.margin {
  margin: 50px 30.5px 0px 100px; }

.paragraph__principal {
  height: 52px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  margin-top: 60px;
  line-height: 1.3;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 100px; }

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 74%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 577%; }

.icon {
  margin-bottom: 10px; }

.scroll__principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50%; }

.social_networks {
  position: relative;
  top: 12vh;
  left: 39vw; }

.social_network {
  width: 24px;
  height: 24px; }

/*---------- PRINCIPAL ---------------*/
/*---------- SERVICES ---------------*/
.container__services {
  width: auto;
  height: 445px;
  background-color: #ffffff; }

.container__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px; }

.title__services {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 8.89px;
  text-align: center;
  color: #1b1f3b;
  position: relative;
  bottom: 10vh; }

.title__service {
  width: 263px;
  height: 60px;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1b1f3b; }

.img__service {
  width: 190px;
  height: 125px;
  -o-object-fit: contain;
  object-fit: contain; }

/*---------- SERVICES ---------------*/
/*---------- ELO BOOTING PACKS ---------------*/
.elo__booting__packs {
  width: auto;
  height: 920px;
  background-color: rgba(0, 0, 0, 0.5); }

.background__color {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 31, 57, 0.9))), url(../img/Vayne.jpg);
  background-image: -webkit-linear-gradient(rgba(27, 31, 57, 0.9)), url(../img/Vayne.jpg);
  background-image: -o-linear-gradient(rgba(27, 31, 57, 0.9)), url(../img/Vayne.jpg);
  background-image: linear-gradient(rgba(27, 31, 57, 0.9)), url(../img/Vayne.jpg);
  background-size: cover; }

.container__elo__booting__packs {
  position: relative;
  top: 10vh; }

.title__container__elo__booting__packs {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 8.89px;
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 2vw; }

.paragraph__elo__booting__packs {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  bottom: 2vw; }

.paragraph__elo__booting__packs--span {
  color: #56fffb; }

.packs__elo__booting__packs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15vw; }

.pack__elo__booting__packs {
  border-radius: 16px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-right: 29px;
  height: 560px; }

.pack__elo__booting__packs h4 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: normal;
  text-align: center;
  color: #1b1f3b; }

.promotion__pack__elo__booting__packs {
  width: 95px;
  height: 30px;
  border-radius: 4px;
  background-color: #e01ac7;
  position: relative;
  left: -20px;
  top: -27px; }

.paragraph__pack__elo__booting__packs {
  width: 75px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 8px;
  right: -12px; }

.elos__elo__booting__packs {
  position: relative;
  top: -35px; }

.elo1__elo__booting__packs {
  width: 100px;
  height: 115px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  bottom: 58px;
  right: -15px; }

.elo2__elo__booting__packs {
  width: 130px;
  height: 149px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  bottom: 40px;
  right: 20px; }

.before__elo__booting__packs {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
  position: relative;
  top: -80px; }

.price__elo__booting__packs {
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #454ade;
  position: relative;
  top: -173px; }

.arg__elo__booting__packs {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: center;
  color: #cd9e00;
  position: relative;
  top: -262px; }

.reloj__elo__booting__packs {
  width: 19.6px;
  height: 19.6px;
  -o-object-fit: contain;
  object-fit: contain;
  position: relative;
  top: -4px;
  right: -4px; }

.time__elo__booting__packs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -280px; }

.completion__completion__elo__booting__packs {
  width: 196px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #1b1f3b;
  position: relative;
  left: -35px; }

.position_btn_packs__elo__booting__packs {
  position: relative;
  top: -276px; }

/*---------- ELO BOOTING PACKS ---------------*/
/*---------- REVIEW ---------------*/
.reviews {
  width: auto;
  height: 460px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.information__review {
  margin: 144px 0px 0px 113px; }

.title__reviews {
  width: 318px;
  height: 50px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 8.89px;
  color: #1b1f3b; }

.rating__reviews {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  color: #454ade;
  position: relative;
  bottom: 25px; }

.users__review {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #cd9e00;
  position: relative;
  bottom: 48px; }

.arrow {
  position: relative;
  top: 100px;
  width: 40px; }

.box__review {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 185px; }

.review {
  width: 263px;
  height: 265px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #454ade;
  background-color: #ffffff; }

.rating__review {
  font-family: Roboto;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.69px;
  text-align: center;
  color: #454ade; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: normal; }

.star {
  margin-left: -75px;
  position: relative;
  left: 127px;
  bottom: 43px; }

.title__review {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #454ade;
  position: relative;
  bottom: 70px; }

.paragraph__review {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #1b1f3b;
  position: relative;
  bottom: 82px; }

.data__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 111px;
  left: -27px; }

.name__review {
  width: 159px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: normal;
  color: #454ade;
  position: relative;
  right: 25px; }

.subdata__review {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.date__review {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: normal;
  color: #1b1f3b;
  position: relative;
  right: 25px;
  bottom: 20px; }

/*---------- REVIEW ---------------*/
/*---------- HOW-TO-BUY ---------------*/
.how-to-buy {
  width: auto;
  height: 920px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(69, 74, 222, 0.9))), url(../img/Ekko-True-Damage.jpg);
  background-image: -webkit-linear-gradient(rgba(69, 74, 222, 0.9)), url(../img/Ekko-True-Damage.jpg);
  background-image: -o-linear-gradient(rgba(69, 74, 222, 0.9)), url(../img/Ekko-True-Damage.jpg);
  background-image: linear-gradient(rgba(69, 74, 222, 0.9)), url(../img/Ekko-True-Damage.jpg);
  background-size: cover; }

.container__how-to-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title__how-to-buy {
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 8.89px;
  color: #ffffff;
  position: relative;
  left: 10vw;
  top: 32vh; }

.informations__how-to-buy {
  position: relative;
  right: 14vw;
  top: 12vh; }

.paragraph__how-to-buy {
  text-align: left;
  font-family: 'Roboto Mono', monospace; }

.information__how-to-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.information__how-to-buy {
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff; }

.example__how-to-buy {
  position: relative;
  right: -20px; }

/*---------- HOW-TO-BUY ---------------*/
/*---------- OUR METHODOLOGY ---------------*/
.our-methodology {
  width: auto;
  height: 92vh;
  background-color: #ffffff; }

.container__our-methodology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.informations__our-methodology {
  position: relative;
  left: -38px;
  position: relative;
  top: 7vh;
  left: -10vw; }

.title__out-methodology {
  font-family: 'Roboto Mono', monospace;
  margin: 144px 126px 0px 113px;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 8.89px;
  color: #1b1f3b;
  position: relative;
  top: 24vh;
  left: 7vw; }

.information__our-methodology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
  margin-bottom: -3vh; }

.paragraph__our-methodology {
  width: 555px;
  height: 120px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #1b1f3b;
  position: relative;
  top: -10px; }

.info-title__our-methodoly {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #1b1f3b;
  position: relative; }

.icon__our-methodology {
  position: relative;
  top: 2vh;
  right: 0vw; }

/*---------- OUR METHODOLOGY ---------------*/
/*---------- PRINCIPAL-BOOSING ---------------*/
.shadown {
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(48%, rgba(25, 31, 59, 0.999)), to(rgba(27, 31, 59, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(25, 31, 59, 0.999) 48%, rgba(27, 31, 59, 0));
  background-image: -o-linear-gradient(bottom, rgba(25, 31, 59, 0.999) 48%, rgba(27, 31, 59, 0));
  background-image: linear-gradient(to top, rgba(25, 31, 59, 0.999) 48%, rgba(27, 31, 59, 0)); }

.toggle__options {
  position: absolute;
  top: 50vh;
  right: 15vw; }

.toggle__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: solid 3px #ffffff;
  width: 1000px;
  height: 46px;
  padding-left: 0px; }

.toggle__rectangle--active {
  width: 474px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #1b1f3b;
  background: #ffffff; }

.toggle__rectangle--desactive {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  color: #ffffff; }

.toggle__rectangle__text {
  position: relative;
  left: 9vw;
  bottom: -1.5vh; }

.toggle__boosting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.toggle__img__text {
  display: -ms-grid;
  display: grid;
  padding-right: 6vw;
  margin-top: 80px; }

.toggle__img {
  position: relative;
  left: 2.27vw;
  padding-bottom: 25px; }

.toggle__text {
  width: 165px;
  height: 60px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px; }

.toggle__selected {
  color: #56fffb; }

.toggle__line {
  border-bottom: #56fffb 3px solid;
  width: 165px; }

.toggle__img__paragraph {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 46vh; }

/*---------- PRINCIPAL-BOOSING ---------------*/
.rectangle {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #1b1f3b;
  position: relative;
  top: 26vh;
  left: 4vw;
  z-index: 1; }

.rectangle:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top-color: #1b1f3b; }

/*---------- LEAGUE-BOOSTING ---------------*/
select {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
  color: #ffffff; }

option {
  width: 56px;
  height: 17px;
  text-align: center;
  font: 14px Roboto;
  letter-spacing: 0;
  opacity: 1;
  color: #000000; }

.league__boosting__inside__tittle {
  width: 118px;
  height: 11px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.form__first__step {
  width: 482px;
  height: 48px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: normal;
  text-align: center;
  color: #454ade; }

.league__boosting {
  width: auto;
  height: 1506px;
  background-color: #e5e5e5; }

.league__boosting__rectangle {
  -webkit-box-shadow: 0 0 14px 0 #000000;
  box-shadow: 0 0 14px 0 #000000;
  position: relative;
  left: 25%;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16px; }

.league__boosting__rectangle__elo {
  width: 180px;
  height: 27px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

#img {
  width: 953px;
  height: 361.3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 12, 46, 0.77)), to(rgba(11, 12, 46, 0.77))), url(../img/Bardo.jpg);
  background-image: -webkit-linear-gradient(top, rgba(11, 12, 46, 0.77), rgba(11, 12, 46, 0.77)), url(../img/Bardo.jpg);
  background-image: -o-linear-gradient(top, rgba(11, 12, 46, 0.77), rgba(11, 12, 46, 0.77)), url(../img/Bardo.jpg);
  background-image: linear-gradient(to bottom, rgba(11, 12, 46, 0.77), rgba(11, 12, 46, 0.77)), url(../img/Bardo.jpg);
  background-size: cover; }

#img1 {
  width: 953px;
  height: 661.3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 12, 46, 0.77)), to(rgba(11, 12, 46, 0.77))), url(../img/Pantheon.jpg);
  background-image: -webkit-linear-gradient(top, rgba(11, 12, 46, 0.77), rgba(11, 12, 46, 0.77)), url(../img/Pantheon.jpg);
  background-image: -o-linear-gradient(top, rgba(11, 12, 46, 0.77), rgba(11, 12, 46, 0.77)), url(../img/Pantheon.jpg);
  background-image: linear-gradient(to bottom, rgba(11, 12, 46, 0.77), rgba(11, 12, 46, 0.77)), url(../img/Pantheon.jpg);
  background-size: cover; }

.league__boosting__title {
  margin: 0;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: normal;
  color: #454ade;
  position: relative;
  top: 7%;
  padding-left: 25%; }

.league__boosting__img {
  width: 220px;
  height: 251px;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-box-shadow: 0 0 10px 0 #404c4d;
  box-shadow: 0 0 10px 0 #404c4d;
  position: relative;
  top: -8px; }

.league__boosting__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*---------- CALENDAR ---------------*/
.league__boosting__rectangle__inside {
  width: 553px;
  height: 309px;
  border-radius: 16px;
  background-color: #ffffff;
  margin-left: 140px;
  margin-top: 77px; }

.card-header {
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  color: #2c3737; }

/*---------- CALENDAR ---------------*/
/*---------- LEAGUE-BOOSTING ---------------*/
/*---------- FOOTER ---------------*/
.footer {
  width: auto;
  height: 507px;
  margin-top: 20px;
  background-color: #1b1f3b; }

/* .footer a {
    font-family: Roboto;
    font-size: 16px; 
    color: #ffffff;
} */
.input {
  width: 457px;
  height: 46px;
  border-radius: 4px;
  border: solid 1px #d1d1d1;
  background-color: #ffffff;
  margin: 60px 30px 60px 366px; }

.input::-webkit-input-placeholder {
  text-indent: 20px; }

.input:-ms-input-placeholder {
  text-indent: 20px; }

.input::-ms-input-placeholder {
  text-indent: 20px; }

.input::placeholder {
  text-indent: 20px; }

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__title {
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff; }

.parragraph__footer {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 30px; }

.footer__social-network {
  margin-left: 113px; }

.footer__information {
  padding-right: 113px;
  position: relative;
  bottom: 26px; }

.list__footer {
  padding-left: 0; }

.menu__footer a {
  color: #ffffff; }

.menu__footer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 30px; }

.payment__footer {
  position: relative;
  top: 15px; }

.icons__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.icon__footer {
  color: #454ade;
  margin-right: 10px; }

.line__footer {
  border-top: 5px solid #1b1f3b;
  border-radius: 5px;
  margin-right: 113px;
  margin-left: 113px; }

.copyright__footer {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.copyright__footer a {
  color: #56fffb; }

/*---------- FOOTER ---------------*/
