body {
    margin: 0;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*-------GRID ----------*/

.container{
    max-width: 1200px;
    margin:0
}

.row {
    display: flex;
}

.col-1 {
    width: 8.333333333333333%;
}

.col-2 {
    width: 16.6666666666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
    width: 91.6666666667;
}

.col-12 {
    width: 100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding: 10px;
}

@media (max-width:900px){
    .row{
        display:inherit;
    }
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
        width: 100%;
    }
}


/*-------GRID ----------*/


/*---------- BOTONES ---------------*/

.btn__secondary {
    color: #ffffff;
    font-size: 16px;
    font-family: Roboto;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    background-color: #454ade;
}

.btn__primary {

    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
}

/*---------- BOTONES ---------------*/

/*---------- NAVBAR ---------------*/
.navbar {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    background: transparent;
    z-index: 10000;
}

.navbar a {
    color: #ffffff;
}

.navbar__title {
    width: 226px;
    height: 33px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 113px;
    color: #ffffff;
    position: absolute;
    top: 12px;
}

.register__btn{
    color: #454ade !important ;
    position: relative;
    right: 4px;

}

.navbar__list {
    justify-content: flex-end;
    display: flex;

}

.padding__top{
    padding-top: 16px;
}

.navbar__menu {
    width: 62px;
    height: 16px;
    font-family: Roboto;
    font-size: 16px;
    justify-content: flex-end;
    margin: 0 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
}


/*---------- NAVBAR ---------------*/

/*---------- HOME VIEW ---------------*/

/*---------- PRINCIPAL ---------------*/
.principal {
    width: 99vw;
    height: 100vh;
    /* background-image: url(../static/images/shen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%; */
    
    
}
.overlay__principal{
    background-image: linear-gradient(168deg, #1b1f3b -100%, rgba(133, 94, 210, 0.1%));
    width: 99vw;
    height: 100vh;
}

.container__principal {
    padding-top: 10px;
    z-index: 10000;
    display: flex;
}

.title__principal {
    width: 513px;
    height: 135px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 10px;
    color: #ffffff;
    margin-left: 100px;
    letter-spacing: 9px;
    text-shadow: 0 0 10px #ffffff;
    padding-top: 170px;
}

.margin {
    margin: 50px 30.5px 0px 100px;

}

.paragraph__principal {
    height: 52px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 100px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 74%;
    justify-content: flex-end;
    width: 577%;

}
.icon{
    margin-bottom: 10px;
}

.scroll__principal{
    display: flex;
    align-items: center;
  justify-content: center;
  height: 50%;
}

/*---------- PRINCIPAL ---------------*/


/*---------- SERVICES ---------------*/

.container__services {
    width: auto;
    height: 445px;
    background-color: #ffffff;
}

.container__services {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.title__services {
    width: 750px;
    height: 45px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    width: auto;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 8.89px;
    text-align: center;
    color: #1b1f3b;
    margin-bottom: 50px;
}

.title__service {
    width: 263px;
    height: 60px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;

}

.img__service {
    width: 190px;
    height: 125px;
    object-fit: contain;
}

/*---------- SERVICES ---------------*/

/*---------- ELO BOOTING PACKS ---------------*/

.elo__booting__packs {
    width: auto;
    height: 905px;
    background-color: #1b1f3b;
}

.title__container__elo__booting__packs {

    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 8.89px;
    text-align: center;
    color: #ffffff;
}

.paragraph__elo__booting__packs {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
}

.packs__elo__booting__packs {
    display: flex;
    padding-left: 113px;
}

.pack__elo__booting__packs {
    border-radius: 16px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-right: 29px;
    height: 491px;
}

.pack__elo__booting__packs h4 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;
}

.promotion__pack__elo__booting__packs {
    width: 95px;
    height: 30px;
    border-radius: 4px;
    background-color: #e01ac7;
    position: relative;
    left: -20px;
    top: -27px;
}

.paragraph__pack__elo__booting__packs {
    width: 75px;
    height: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 8px;
    right: -12px;
}

.elos__elo__booting__packs{
    position: relative;
    top: -35px;
}

.elo1__elo__booting__packs {
    width: 100px;
    height: 115px;
    object-fit: contain;
    position: relative;
    bottom: 58px;
    right: -15px;
}

.elo2__elo__booting__packs {
    width: 130px;
    height: 149px;
    object-fit: contain;
    position: relative;
    bottom: 40px;
    right: 20px;
}

.before__elo__booting__packs {

    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    position: relative;
    top: -80px;
}

.price__elo__booting__packs {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #454ade;
    position: relative;
    top: -173px;
}

.arg__elo__booting__packs {

    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: center;
    color: #cd9e00;
    position: relative;
    top: -262px;
}

.reloj__elo__booting__packs {
    width: 19.6px;
    height: 19.6px;
    object-fit: contain;
    position: relative;
    top: -4px;
    right: -4px;
}

.time__elo__booting__packs {
    display: flex;
    position: relative;
    top: -280px;
}

.completion__completion__elo__booting__packs {
    width: 196px;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;
    position: relative;
    left: -35px;
}

.position_btn_packs__elo__booting__packs{
    position: relative;
    top: -276px;
}

/*---------- ELO BOOTING PACKS ---------------*/

/*---------- REVIEW ---------------*/
.reviews {
    width: auto;
    height: 460px;
    background-color: #ffffff;
    display: flex;
}

.information__review {
    margin: 144px 0px 0px 113px;
}

.title__reviews {
    width: 318px;
    height: 50px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 8.89px;
    color: #1b1f3b;
}

.rating__reviews {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.83;
    letter-spacing: normal;
    color: #454ade;
    position: relative;
    bottom: 25px;
}

.users__review {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #cd9e00;
    position: relative;
    bottom: 48px;
}

.arrow{
    position: relative;
    top: 100px;
    width: 40px;
}

.box__review{
    margin-top: 90px;
    display: flex;
    position: relative;
    left: 185px;
}


.review {
    width: 263px;
    height: 265px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #454ade;
    background-color: #ffffff;
}

.rating__review {
    font-family: Roboto;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2.69px;
    text-align: center;
    color: #454ade;
}

.stars {
    display: flex;
    justify-items: normal;
}

.star{
    margin-left: -75px;
    position: relative;
    left: 127px;
    bottom: 43px;
}

.title__review {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #454ade;
    position: relative;
    bottom: 70px;
}

.paragraph__review {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;
    position: relative;
    bottom: 82px;
}

.data__review {
    display: flex;
    position: relative;
    bottom: 111px;
    left: -27px;

}

.name__review {
    width: 159px;
    height: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: 1;
    letter-spacing: normal;
    color: #454ade;
    position: relative;
    right: 25px;
}

.subdata__review {
    flex-direction: column;
}

.date__review {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1;
    letter-spacing: normal;
    color: #1b1f3b;
    position: relative;
    right: 25px;
    bottom: 20px;
}

/*---------- REVIEW ---------------*/

/*---------- HOW-TO-BUY ---------------*/

.how-to-buy {
    width: auto;
    height: 768px;
    background-color: #454ade;
}

.container__how-to-buy {
    display: flex;
    justify-content: space-between;

}

.title__how-to-buy {
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 8.89px;
    color: #ffffff;
    position: relative;
    left:113px;
    top: 273px;
}

.informations__how-to-buy{
    position: relative;
    right: 240px;
    top: 50px;
}

.paragraph__how-to-buy{
    text-align: right;
}

.information__how-to-buy {
    display: flex;
}

.information__how-to-buy {
    flex-wrap: inherit;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.example__how-to-buy{
    position: relative;
    right: -20px;

}

/*---------- HOW-TO-BUY ---------------*/


/*---------- OUR METHODOLOGY ---------------*/

.our-methodology {
    width: auto;
    height: 768px;
    background-color: #ffffff;
}

.container__our-methodology {
    display: flex;
    justify-content: space-between;
}

.informations__our-methodology {
    position: relative;
    left: -38px;
    position: relative;
    top: 50px;
    left: -160px;

}

.title__out-methodology {
    font-family: Roboto;
    margin: 144px 126px 0px 113px;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 8.89px;
    color: #1b1f3b;
    position: relative;
    top: 150px;
}

.information__our-methodology {
    display: flex;
    flex-wrap: inherit;
    margin-bottom: -36px;
}

.paragraph__our-methodology {
    width: 555px;
    height: 120px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #6d6b6b;
    position: relative;
    top: -14px;
}

.info-title__our-methodoly {

    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #1b1f3b;
    position: relative;
    
}

.icon__our-methodology{
    position: relative;
    top: 12px;
    right: -22px;
}

/*---------- OUR METHODOLOGY ---------------*/

/*---------- HOME VIEW ---------------*/

/*---------- BOOSTING VIEW ---------------*/

/*---------- PRINCIPAL-BOOSING ---------------*/

/*---------- PRINCIPAL-BOOSING ---------------*/

/*---------- BOOSTING VIEW ---------------*/


/*---------- FOOTER ---------------*/

.footer {
    width: auto;
    height: 507px;
    margin-top: 20px;
    background-color: #1b1f3b;
}

/* .footer a {
    font-family: Roboto;
    font-size: 16px; 
    color: #ffffff;
} */

.input {
    width: 457px;
    height: 46px;
    border-radius: 4px;
    border: solid 1px #d1d1d1;
    background-color: #ffffff;
    margin: 60px 30px 60px 366px;
}

.input::placeholder{
    text-indent: 20px;

}

.container__footer {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.parragraph__footer {
    opacity: 0.5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 30px;
}
.footer__social-network{
    margin-left: 113px;
}
.footer__information{
    padding-right: 113px;
    position: relative;
    bottom: 26px;
}

.list__footer{
    padding-left: 0;
}


.menu__footer a{
    color: #ffffff;
}
.menu__footer{

font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.payment__footer{
    position: relative;
    top: 15px;
}

.icons__footer{
    display: flex;
    padding: 0;

}

.icon__footer{
    color: #454ade;
    margin-right: 10px;
}

.line__footer{
    border-top:5px solid #1b1f3b;
    border-radius: 5px;
    margin-right: 113px;
    margin-left: 113px;
}

.copyright__footer{

    opacity: 0.5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.copyright__footer a{
    color: #56fffb;
}


/*---------- FOOTER ---------------*/