.agenda {
    position: absolute;
    padding: 3% 0px 0px 13%;

    @media (max-width: 768px) {
        color: blue
    }
}

.agenda form {
    display: flex;
}

.agenda option {
    color: black
}

.agenda__price {
    width: 300.6px;
    height: 300.6px;
    box-shadow: 0 0 3px 0 #454ade;
    background-color: #454ade;
    border-radius: 19px;
    position: relative;
    right: 13.5%;
}

.agenda__price__title {
    width: 76px;
    height: 25px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 370;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 0% 0px 0px 32%;
}

.span__invisible {
    visibility: hidden;
    display: none;
}

.agenda__info {
    display: flex;
}

.schedule__information {
    display: flex;
}

span:hover .schedule__information__rectangle {
    visibility: visible;
}

.agenda__dollar__price {
    width: 172px;
    height: 110px;
    text-shadow: 0 0 2px #56fffb;
    font-family: Roboto;
    font-size: 82px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #56fffb;
    margin: 0;
    padding: 0px 0px 0px 20%;
}

.agenda__pesos__price {
    width: 156px;
    height: 32px;
    text-shadow: 0 0 2px #cd9e00;
    font-family: Roboto;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: #cd9e00;
    margin: 0;
    padding: 0px 0px 0px 23%;
}

.agenda__time {
    width: 189px;
    height: 23px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 350;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    opacity: 0.79;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 0px 0px 0px 17%;
    text-decoration: line-through;
}

.agenda__selection {
    margin: 0;
    position: relative;
    left: 35%;
}

.select__agenda {
    border: none;
    background: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #56fffb;
    height: 40px;
    width: 75%;
}

.select__agenda--fix{
    width: 100%;
}

.select__agenda option {
    background-color: #1a1919;
    color:#56fffb ;
}

.select__title {
    width: 230px;
    height: 14px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.23px;
    text-align: center;
    color: #ffffff;
    text-align: inherit;
}

.agenda__bullet__list {
    color: #ffffff;
    margin: 10% 0px 0px 0px;
    position: absolute;
    left: 12%;
    top: 67%;
}

.agenda__bullet__list li {
    margin: 0 0 15px 0px;
}

.agenda__bullet__list li::before {
    content: url(../../../static/images/Bullet-list.svg);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.agenda__paypal {
    position: absolute;
    right: 0%;
    top: 115%;
}

.schedule__information__rectangle {
    width: 213px;
    height: 94px;
    border-radius: 15px;
    border: solid 3px #e01ac7;
    background-color: #192429;
    visibility: hidden;
    position: absolute;
}

.schedule__information__pop {
    width: 200px;
    height: 59px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: inherit;
    color: #ffffff;
    margin-top: 6%;
}

.register__input__line--agenda{
    margin: 0px 0% 5% 0px;
}

.agenda__warning{
    color: #e01ac7;
    text-shadow: 0px 0px 15px #e01ac7;
    margin: 0px;
    position: absolute;
    top: -20%;
    left: 24%;
    width: 800px;
    font-size: 20px;
    font-family: roboto;
    font-weight: 900;
}

.agenda__warning--fix{
    top: -15%;
}