.selected__date {
    width: 940px;
    height: 650.3px;
    opacity: 0.94;
    background-color: #021414;
    margin: 0vh 0px 0px 21.18%;
}

.selected__date__form > div > div > div > div > div > div {
    background-color:#454ade;
    color:#56fffb
}

.selected__date__form > div  {
    border: 2px solid #56fffb;
    border-radius: 6px
}

.selected__date__title {
    width: 724px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 4% 0px 0px 10%;
}

.selected__date__form {
    margin: 0px 10% 0px 10%;
    padding: 7% 0 0 0;
}