.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.navbar a {
  color: #ffffff
}

.navbar__title {
  font-family: Roboto;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 113px;
  color: #ffffff
}

.register__btn{
  color: #454ade !important ;
  position: relative;
  right: 4px;

}

.navbar__list {
  justify-content: flex-end;
  display: flex;

}

.padding__top{
  padding-top: 16px;
}

.navbar__menu {
  width: 62px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  justify-content: flex-end;
  margin: 0 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}
