@import "./Vars.scss";
@import "./Media.scss";
@import "./Button.scss";
@import "./Grid.scss";
@import "./Animation.scss";

body {
  margin: 0;
  font-family: $theme-font;
  cursor: default;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

::selection{
  background:none;
    color:none
}

::placeholder{
  color: #ffffff;
}
