.about{
    background-image: linear-gradient(to top, #1b1f3b 67%, rgba(27, 31, 59, 0.96) 77%, rgba(27, 31, 59, 0)), url(../Screen/Taric.jpg);
    background-size: contain;
    position: relative;
    bottom: 15vh;
}

.about__principal__title {
    width: 600px;
    height: 53px;
    font-family: RobotoMono;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 12% 0px 0px 30%;
}

.about__principal__subtitle {
    width: 1014px;
    height: 50px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 4% 0px 4% 18%;
}

.tables{
    display: flex;
}

.left__table {
    width: 320px;
    height: 440px;
    border-radius: 19px;
    background-color: #454ade;
    margin: 0px 4% 0px 7%;
}

.left__table__title {
    width: 126px;
    height: 17px;
    text-shadow: 0 0 1px #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.left__table__text {
    width: 169px;
    height: 44px;
    font-family: Roboto;
    font-size: 9px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.right__table{
    width: 55%;
    height: 713px;
    border-radius: 19px;
    background-color: #454ade;
}

.right__table__title{
    width: 193px;
    height: 29px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 0px 0px 0px 10%;
}

.right__table__text{
    width: 726px;
    height: 71px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 12px 0px 0px 10%;
}