.coach__booting__packs {
    width: auto;
    height: 905px;
    background-image:
        linear-gradient(to bottom, rgba(27, 31, 57, 0.9), rgba(69, 74, 222, 0.9)),
        url(../Screen/League-displays.jpg);
    background-size: cover;
}


.container__coach__booting__packs {
    position: relative;
    top: 10vh;
}

.title__container__coach__booting__packs {
    font-family: Roboto;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 8.89px;
    text-align: center;
    color: #ffffff;
}

.paragraph__elo__booting__packs--span {
    font-size: 16px;
    color: #56fffb
}

.paragraph__coach__booting__packs {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.50;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
}

.packs__coach__booting__packs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pack__coach__booting__packs {
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    margin-right: 29px;
    height: 495px;
}

.pack__coach__booting__packs__premium {
    height: 525px;
    width: 300px;
}

.special__avance__coaching__boosting_pack{
    border: 5px solid #E01AC7;
    filter: drop-shadow(0px 0px 6px rgba(247, 14, 255, 0.7));
}
.special__professional__coaching__boosting_pack{
    border: 5px solid #56FFFB;
    filter: drop-shadow(0px 0px 6px rgba(14, 247, 255, 0.7));
}

.pack__coach__booting__packs h4 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.12;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;
}

.promotion__pack__coach__booting__packs {
    width: 95px;
    height: 30px;
    border-radius: 4px;
    background-color: #e01ac7;
    position: relative;
    left: -20px;
    top: -27px;
    z-index: 1;
}

.promotion__pack__coach__booting__packs__challenger{
    background: #56fffb;
}

.paragraph__pack__coach__booting__packs__left{
    left: 225px;
}

.paragraph__pack__coach__booting__packs {
    width: 75px;
    height: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 8px;
    right: -12px;
}

.coachs__coach__booting__packs {
    position: relative;
    top: -35px;
}
.coachs__coach__booting__packs__grandmaster {
    padding: 0px 0px 20px 0px;
}

.coach1__coach__booting__packs {
    width: 100px;
    height: 115px;
    object-fit: contain;
    position: relative;
    bottom: 58px;
    right: -15px;
}

.coach2__coach__booting__packs {
    width: 130px;
    height: 149px;
    object-fit: contain;
    position: relative;
    bottom: 40px;
    left: 40px;
}

.coach2__coach__booting__packs__challenger{
    margin: 0px;
    width: 152px;
    height: 170px;
}

.before__coach__booting__packs {

    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    position: relative;
    top: -80px;
}

.price__coach__booting__packs {
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #454ade;
    position: relative;
    top: -173px;
}

.arg__coach__booting__packs {

    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: center;
    color: #cd9e00;
    position: relative;
    top: -262px;
}

.reloj__coach__booting__packs {
    width: 19.6px;
    height: 19.6px;
    object-fit: contain;
    position: relative;
    top: -4px;
    right: -4px;
}

.time__coach__booting__packs {
    display: flex;
    position: relative;
    top: -280px;
}

.completion__completion__coach__booting__packs {
    width: 196px;
    height: 16px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #1b1f3b;
    position: relative;
    left: -35px;
}

.position_btn_packs__coach__booting__packs {
    position: relative;
    top: -276px;
    right: 19px;
    color: #cc06bb !important;
    border: 1px solid #cc06bb !important;
    text-shadow: 0px 0px 3px #cc06bb !important;
    box-shadow: 0px 0px 5px #cc06bb!important;
}

.position_btn_packs__coach__booting__packs:hover{
    background: #cc06bb !important;
    color: #fff !important;
}

.paragraph__pack__coach__booting__packs__challenger{
    color: #000;
}