.principal {
    width: 99vw;
    height: 100vh;
}
.overlay__principal{
    background-image: linear-gradient(168deg, #454ade -100%, rgba(0, 0, 0, 0.22));
    width: 99vw;
    height: 100vh;
    position: absolute;
    top: 0px;
}

.container__principal {
    padding-top: 10px;
    display: flex;
}

.title__principal {
    width: 513px;
    height: 135px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 10px;
    color: #ffffff;
    margin-left: 100px;
    padding-top: 170px;
}

.contentSection__internal{
    position: relative;
    bottom: 5vh;
}

.margin {
    margin: 50px 30.5px 0px 100px;
}

.paragraph__principal {
    height: 52px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 100px;
}

.btn__secondary--fix{
    position: relative;
    top:12vh;
    left:6vw;
    width: 360px;
    height: 46px;
}

.icons{
    display: flex;
    flex-direction: column; 
    position: absolute;
    left: 84vw;
    top: 40vh;
    cursor: pointer
}
.icon{
    margin-bottom: 10px;

}

.scroll__principal{
    display: flex;
    align-items: center;
  justify-content: center;
  height: 40%;
}
