.privacy {
    background-image: linear-gradient(to bottom, #000000c9, #040404), url(../Screen/muelle.jpg);
    background-size: cover;
    position: relative;
    bottom: 14vh;
    margin: 0 0 -8% 0;
}