.profile {
    height: 970px;
    background-image: linear-gradient(to bottom, rgba(69, 74, 222, 0.9), rgba(27, 31, 57, 0.9)), url(/assets/renek.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    bottom: 12vh;
    margin: 0 0px -7% 0px;
  }